:root {
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --ultimate-white:#FFFFFF;
    --dark-bcg:#2E2F42;
    --modal-bcg:#FCFCFC;
    --accent-color:#E7E9FC;
    --body-text:#434455;
    --secondary-text:#8E8F99;
    --headings-color:#2E2F42;
    --brand-color:#4D5AE5;
    --success-color:#31D0AA;
    --light-mode-bcg:#F4F4FD;
    --hover-color:#404BBF;
}
body{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
    background-color: #FFFFFF;
}
.logo{
    font-family: var(--second-font);
font-weight: 800;
font-size: 18px;
line-height: 1.17;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--brand-color);
}
.logo-accent {
    color: var(--headings-color)
}
.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

/* Header */
a.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--headings-color)
}

a.nav-link:hover, 
a.nav-link:focus,
.address-hover:hover,
.address-hover:focus{
    color: var(--hover-color);
}

.address-link{
text-decoration: none;
font-style: normal;

}
.address-hover{
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text);
}

/* Hero */
.hero{
    background-color: var(--dark-bcg);
}
.hero-text{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--ultimate-white);
}
.main-button{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
letter-spacing: 0.04em;
color: var(--ultimate-white);
background-color: var(--brand-color);
cursor: pointer;
font-family: "Roboto", sans-serif
}
.main-button:hover,
.main-button:focus{
    background-color: var(--hover-color);
}
/* Features */
.team-title,
.project-title,
.features-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color:var(--headings-color);
letter-spacing: 0.02em
}

.section-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
letter-spacing: 0.02em;
color: var(--headings-color)
}

.team-card{
    background-color: #FFFFFF;
}
.team-text{
    font-size: 16px;
}

.team-section{
    background-color: var(--light-mode-bcg);
}
.portfolio-link{
        font-size: 20px;
        line-height: 1.2;
        color: var(--headings-color);
}

.filter{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--brand-color);
        background-color: var(--light-mode-bcg);
        cursor: pointer;
}
.filter:hover,
.filter:focus,
.filter:active{
    color: var(--ultimate-white);
    background-color: var(--hover-color);
}

.portfolio-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--body-text);
}
/* Footer */
.footer-bcg{
    background-color: var(--dark-bcg) ;
}
.text-footer{
color: var(--light-mode-bcg);
}
.logo-light{
    color: var(--light-mode-bcg);
}